.editor {
    padding: 1rem;
}

.editor form fieldset {
    padding: .5rem 0 .5rem 0;
    border-width: 0;
    border-bottom-width: 1px;
}

.editor form label {
    display: block;
}

.editor form input {
    width: calc(100% - .25rem);
    padding: .25rem;
}

.editor form p.errorText {
    width: calc(100% - .25rem)
}

.fieldWrapper {
    margin: 0;
}

.errorText {
    color: red;
    padding: .25rem .25rem .25rem .5rem;
    margin: 0;
    background-color: #fcd0d0;
}