.ui {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "header header header header"
        "sidebar canvas canvas editor"
}

.header {
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid black;

    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    margin: 0
}

.header h1 {
    margin: 0;
}

.header h2 {
    margin: 0;
    color: #25cf77;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid black;
}

.canvas {
    grid-area: canvas;
}

.editor {
    grid-area: editor;
    border-left: 1px solid black;
}

.dialog {
    position: absolute;
    z-index: 10;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-height: 60vh;
    min-width: 600px;
    max-width: 80vw;

    display: none;
    flex-direction: column;
}

.dialog[open] {
    display: flex;
    border-width: 1;
}

.dialog pre {
    overflow: auto;
    background-color: #efefe9;
    border: 1px solid #b1b1a4;
    padding: 1rem;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
}

.actionButtons>button:last-child {
    margin-left: .5rem;
}

.buttonList {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.buttonList li {
    margin: 0;
    margin-bottom: .5rem;
}

.buttonList button {
    width: 100%;
}